@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Jaro:opsz@6..72&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #6cace4;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: "Jaro";
}

.yellow {
  color: #ffb81c;
}

body {
  /* background-color: #222831; */
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  background: rgb(165, 0, 68);
  background: linear-gradient(
    90deg,
    rgba(165, 0, 68, 1) 0%,
    rgba(0, 77, 152, 1) 100%
  );
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(23, 23, 51), 0 0 0.2em black;
}
main {
  padding: 0 5% 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.103);
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.box1 ul {
  font-family: "Freeman";
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  font-size: 24px;
  padding-bottom: 12px;
}

.box1 ul li {
  display: block;
  padding: 5px 0;
}

.p-title {
  font-size: 32px;
  padding: 50px 0;
  font-family: "Jaro";
  color: lightgreen;
}

.season-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.season-1 p {
  padding: 5px 0;
  color: #078bff;
  font-family: "Freeman";
  font-size: 20px;
}

.season-1 p:nth-child(1) {
  color: rgb(25, 255, 171);
  font-size: 30px;
}

.season-1 p:nth-child(4) {
  color: rgb(248, 81, 81);
}

.season-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.exp {
  text-align: left;
  color: #ffb81c;
  line-height: 1.5;
  text-indent: 1em;
}

.quotes {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 50px;
  font-size: 18px;
}

.q-span {
  font-family: "Freeman";
  /* font-style: italic; */
}

.quote {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 50px;
  font-size: 18px;
}
