@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Jaro:opsz@6..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #6cace4;
  background: -webkit-linear-gradient(
    top,
    rgb(122, 180, 230) 0%,
    rgb(108, 172, 228) 61%,
    rgb(97, 154, 205) 100%
  );
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: "Jaro";
}

.yellow {
  color: #ffb81c;
}

body {
  /* background-color: #222831; */
  /* font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif; */
  font-family: "PT Sans", sans-serif;
  /* position: relative; */
  min-height: 100vh;
  background: rgb(165, 0, 68);
  background: linear-gradient(
    90deg,
    rgba(165, 0, 68, 1) 0%,
    rgba(0, 77, 152, 1) 100%
  );
  text-shadow: 0.6px 0.6px 0px black, 0 0 1em rgb(23, 23, 51), 0 0 0.2em black;
  font-size: 17px;
}
main {
  padding: 0 100px 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.103);
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  letter-spacing: 0.5px;
  text-wrap: pretty;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.box1 ul {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "PT Sans", sans-serif;

  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  font-size: 24px;
  padding-bottom: 18px;
  grid-auto-flow: dense;
}

.box1 ul li {
  display: block;
  padding: 4px 0;
}

.p-title {
  font-size: 32px;
  padding: 50px 0;
  font-family: "Jaro";
  
  color: #ffffff;
}

.season-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline-end: 14.7%;
}

.season-1 p {
  padding: 5px 0;
  color: rgb(53, 207, 42);
  font-family: "Freeman";
  font-size: 22px;
}

.season-1 p:nth-child(1) {
  color: gold;
  font-size: 30px;
}

.season-1 p:nth-child(4) {
  color: #6cace4;
}

.season-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}
.exp {
  text-align: left;
  color: #ffb81c;
  line-height: 1.5;
  /* text-indent: 1em; */
  /* height:min(250px, 100%); */
  overflow: auto;
}

.quotes {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 50px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;

}

.q-span {
  display: flex;
  justify-content: center;
  font-family: "Anek+Devanagari";
  /* font-style: italic; */
  letter-spacing: 1.5px;
  padding-block-start: 8px;
  color: #a4cfff;
}

.quote {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 25px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.br {
  display: block;
  margin-bottom: 0.5em;
}

.starters {
  display: flex;
  /* height: 200px; */
  padding-block-start: 30px;
  /* align-content: flex-start; */
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  font-family: "PT Sans", sans-serif;
}

.starter-item {
  width: 33.3%;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: aliceblue;
}

.starter-item:nth-child(1) {
  font-size: 30px;
  color: gold;
}

#more {
  display: none;
}

.shine:hover {
  /* box-shadow: -3px -3px 8px #7493d0; */
  transition: all 0.2s ease-out;
  scale: 1.03;
  cursor: pointer;
}

footer {
  background-color: #231f20;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: "Jaro";
}
.pink {
  color: #f7b5cd;
}
.br2 {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.wc22 {
  font-size: large;
  color: white;
}
@media (width <= 850px) {
  main {
    padding: 0 4% 20px;
  }
  .season-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-inline-end: 0%;
    /* font-style: italic; */
  }
  .season-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 40px 10px;
  }
  .quotes {
    width: 100%;
    font-size: 20px;
  }
  .quote {
    width: 100%;
    font-size: 100%;
    padding-top: 13px;
  }
  .box1 ul {
    font-size: 18px;
  }
  .starters {
    flex-wrap: wrap;
  }
  .starter-item {
    width: 100%;
    flex-wrap: wrap;
    padding-block-start: 30px;
    font-size: 18px;
  }
  .starter-item:nth-child(1) {
    font-size: 26px;
    padding-block-start: 15px;
  }
}
